#include "misc/resource.h"

SOCCAR_CORNER_IDS BINARY_FILE soccar/soccar_corner_ids.bin
SOCCAR_CORNER_VERTICES BINARY_FILE soccar/soccar_corner_vertices.bin
SOCCAR_GOAL_IDS BINARY_FILE soccar/soccar_goal_ids.bin
SOCCAR_GOAL_VERTICES BINARY_FILE soccar/soccar_goal_vertices.bin
SOCCAR_RAMPS_0_IDS BINARY_FILE soccar/soccar_ramps_0_ids.bin
SOCCAR_RAMPS_0_VERTICES BINARY_FILE soccar/soccar_ramps_0_vertices.bin
SOCCAR_RAMPS_1_IDS BINARY_FILE soccar/soccar_ramps_1_ids.bin
SOCCAR_RAMPS_1_VERTICES BINARY_FILE soccar/soccar_ramps_1_vertices.bin

SOCCAR_NAV_GRAPH BINARY_FILE soccar/soccar_navigation_graph.bin
SOCCAR_NAV_NODES BINARY_FILE soccar/soccar_navigation_nodes.bin
SOCCAR_NAV_NORMALS BINARY_FILE soccar/soccar_navigation_normals.bin

HOOPS_CORNER_IDS BINARY_FILE hoops/hoops_corner_ids.bin
HOOPS_CORNER_VERTICES BINARY_FILE hoops/hoops_corner_vertices.bin
HOOPS_NET_IDS BINARY_FILE hoops/hoops_net_ids.bin
HOOPS_NET_VERTICES BINARY_FILE hoops/hoops_net_vertices.bin
HOOPS_RIM_IDS BINARY_FILE hoops/hoops_rim_ids.bin
HOOPS_RIM_VERTICES BINARY_FILE hoops/hoops_rim_vertices.bin
HOOPS_RAMPS_0_IDS BINARY_FILE hoops/hoops_ramps_0_ids.bin
HOOPS_RAMPS_0_VERTICES BINARY_FILE hoops/hoops_ramps_0_vertices.bin
HOOPS_RAMPS_1_IDS BINARY_FILE hoops/hoops_ramps_1_ids.bin
HOOPS_RAMPS_1_VERTICES BINARY_FILE hoops/hoops_ramps_1_vertices.bin


DROPSHOT_IDS BINARY_FILE dropshot/dropshot_ids.bin
DROPSHOT_VERTICES BINARY_FILE dropshot/dropshot_vertices.bin


THROWBACK_GOAL_IDS BINARY_FILE throwback/throwback_goal_ids.bin
THROWBACK_GOAL_VERTICES BINARY_FILE throwback/throwback_goal_vertices.bin
THROWBACK_CORNER_WALL_0_IDS BINARY_FILE throwback/throwback_corner_wall_0_ids.bin
THROWBACK_CORNER_WALL_0_VERTICES BINARY_FILE throwback/throwback_corner_wall_0_vertices.bin
THROWBACK_CORNER_WALL_1_IDS BINARY_FILE throwback/throwback_corner_wall_1_ids.bin
THROWBACK_CORNER_WALL_1_VERTICES BINARY_FILE throwback/throwback_corner_wall_1_vertices.bin
THROWBACK_CORNER_WALL_2_IDS BINARY_FILE throwback/throwback_corner_wall_2_ids.bin
THROWBACK_CORNER_WALL_2_VERTICES BINARY_FILE throwback/throwback_corner_wall_2_vertices.bin
THROWBACK_BACK_RAMPS_LOWER_IDS BINARY_FILE throwback/throwback_back_ramps_lower_ids.bin
THROWBACK_BACK_RAMPS_LOWER_VERTICES BINARY_FILE throwback/throwback_back_ramps_lower_vertices.bin
THROWBACK_BACK_RAMPS_UPPER_IDS BINARY_FILE throwback/throwback_back_ramps_upper_ids.bin
THROWBACK_BACK_RAMPS_UPPER_VERTICES BINARY_FILE throwback/throwback_back_ramps_upper_vertices.bin
THROWBACK_CORNER_RAMPS_LOWER_IDS BINARY_FILE throwback/throwback_corner_ramps_lower_ids.bin
THROWBACK_CORNER_RAMPS_LOWER_VERTICES BINARY_FILE throwback/throwback_corner_ramps_lower_vertices.bin
THROWBACK_CORNER_RAMPS_UPPER_IDS BINARY_FILE throwback/throwback_corner_ramps_upper_ids.bin
THROWBACK_CORNER_RAMPS_UPPER_VERTICES BINARY_FILE throwback/throwback_corner_ramps_upper_vertices.bin
THROWBACK_SIDE_RAMPS_LOWER_IDS BINARY_FILE throwback/throwback_side_ramps_lower_ids.bin
THROWBACK_SIDE_RAMPS_LOWER_VERTICES BINARY_FILE throwback/throwback_side_ramps_lower_vertices.bin
THROWBACK_SIDE_RAMPS_UPPER_IDS BINARY_FILE throwback/throwback_side_ramps_upper_ids.bin
THROWBACK_SIDE_RAMPS_UPPER_VERTICES BINARY_FILE throwback/throwback_side_ramps_upper_vertices.bin

REORIENT_ML_MODEL BINARY_FILE ML/reorient_ML_model.bin
